body
{
    background-image: url("Bilder/snow.GIF");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100%;
    position: fixed;
}
#bild
{
    margin: 200px auto 0 auto;
    position: absolute;
    left: 30%;
}
#bild2
{
    margin: 50px 30px 10px 100px;
}
h1
{
    position: relative;
    right: 10px;
}
