body
{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
	float: center;
	padding: 10px;
	width: 100%;
    align-items: center;
    min-height: 10vh;
    background-color: #000000;
    font-family: 'JetBrains Mono', monospace;
}
a
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #cbf700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
a:hover
{
    color: #00FF00;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.6s;
}
a span
{
    position: absolute;
    display: block;
}
a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg,transparent,#FF0000);
}
a:hover span:nth-child(1)
{
    left: 100%;
    transition: 0.8s;
} 
a span:nth-child(2)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 100px;
    background: linear-gradient(270deg,transparent,#00FF00);
}
a:hover span:nth-child(2)
{
    right: 100%;
    transition: 0.8s;
    transition-delay: 0.1s;
}
a span:nth-child(3)
{
    top: -100℅;
    right: 100%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(3)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4)
{
    bottom: -100℅;
    left: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
}
a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
} .text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	max-width: 100%;
	
	
}#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: 20px;
   right: 5px; 
 /* Height of the footer */    
}

