body
{
    margin: 0;
    padding: 0;
    height: 100vh;

 }
 #particles-js {
    width: 100%;
    height: 100%;
    background-color: #4726bd;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    
}canvas {
    display: block;
    vertical-align: bottom;
}
